.swSlide {
  cursor: pointer;
  height: auto;
  max-height: 500px;
  width: 400px;
  max-width: 100%;
  margin: auto;
  border-radius: 5px;
  @media screen and (max-width: 1366px) {
    width: 400px;
  }
}
