.editor-wrapper {
  width: 100%;
  border: 2px solid rgb(226, 226, 226);
  border-radius: 20px;
  padding: 10px;
  overflow: hidden;
}
.editor-wrapper.error {
  border: 2px solid red;
}
.editor-content {
  min-height: 300px;
  height: 400px;
  padding: 15px;
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  max-width: 1500px;
  color: #333;
  line-height: 1.5;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin: auto;
}

.ProseMirror {
  padding: 10px;
  outline: none;
  word-wrap: break-word;
  white-space: pre-wrap;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.ProseMirror p {
  width: 100%;
}
.toolbarWrapper {
  display: flex;
  align-items: center;

  padding: 8px;
  gap: 16px;
  border-bottom: 1px solid rgb(226, 226, 226);
}
.toolbarBtn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.2s;
}
.toolbarBtn:hover {
  background-color: whitesmoke;
}
.editor-content ul {
  list-style-type: disc;
  padding-right: 10px;
}

.editor-content ol {
  list-style-type: decimal;
  padding-right: 10px;
}

/* .editor-content li {
} */
